html, body {
  width: 100vw;
  max-width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 1em;
}

.grid {
  display: grid;
  gap: 0.25em;
}

#buttons .grid {
  grid-template-columns: repeat(6, 1fr);
  max-width: 100%;
  overflow: auto;
}

button {
    margin: 0.1em;
}

#icons .grid {
  grid-template-columns: repeat(auto-fill, minmax(1.5em, 1fr));
  grid-template-rows: masonry;
}
